@font-face {
font-family: "Avengence Heroic Avenger AT";

 src: url("../fonts/avengeance-heroic-avenger/AVENGEANCE-HEROIC-AVENGER-AT.ttf") format("truetype");

}

@font-face {
    font-family: "Avengence Heroic Avenger BD";
    
     src: url("../fonts/avengeance-heroic-avenger/AVENGEANCE-HEROIC-AVENGER-BD.ttf") format("truetype");
    
    }

    @font-face {
        font-family: "Avengence Heroic Avenger BI";
        
         src: url("../fonts/avengeance-heroic-avenger/AVENGEANCE-HEROIC-AVENGER-BI.ttf") format("truetype");
        
        }

   

@font-face{
font-family: "Aviano Black";
src: url("../fonts/AvianoBlack/Aviano-Black.otf") format("opentype");

}


#header {
font-family: "Avengence Heroic Avenger AT", Arial, Helvetica, sans-serif;
text-align:center;
font-size:26px;
color: white;
text-shadow: 4px 4px 4px darkred;
background-color:blue;
margin-bottom:5px;
height:100px;
border:1px solid black;



}

/* .centered {

position:absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);

} */

body{
font-family: "Aviano Black";
font-size: 12px;
background-color: #ecf0f1;

}



#game-container{
    border:1px solid black;
width:1024px;
min-height:600px;
margin-left:auto;
margin-right:auto;
}

#timer-header {
border:1px solid black;
background-color:blue;
margin-bottom:5px;
height:100px;
text-align:center;
font-size:26px;

}

#footer {
height:100px;
text-align:center;
margin-top:5px;
background-color:blue;
font-size:26px;
color:white;
}

#questionForm {
height:550px;

border:1px solid black;
text-align: center;
background-color:white;
font-size:26px;
overflow:auto;
}

.question {
font-size:30px;
margin-bottom:5px;
text-align:center;
width:100%;
}

.choices {
font-size:24px;


width:100;
padding: 10px 0px 10px 0px;


}

.radio {
height:25px;
}

#play {
height:100px;
width:100px;

}


#results{
position:relative;
top: 40%;

}

.center-results {

}